.page-blog {

  .blogs-wrap {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid #E8E8E8;

    a {
      text-decoration: none;

      &:hover {
        color: #45AAFC;
      }
    }
  }
}
